// Roboto

@font-face {
    font-family: "RobotoThin";
    src: url("../fonts/Roboto/Roboto-Thin.ttf");
}

@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/Roboto/Roboto-Bold.ttf")
}

@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: "RobotoBlack";
    src: url("../fonts/Roboto/Roboto-Black.ttf")
}

@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/Roboto/Roboto-Regular.ttf")
}

@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/Roboto/Roboto-Medium.ttf")
}

// Roboto Slab

@font-face {
    font-family: "RobotoSlabRegular";
    src: url("../fonts/RobotoSlab/RobotoSlab-Regular.ttf");
}

@font-face {
    font-family: "RobotoSlabThin";
    src: url("../fonts/RobotoSlab/RobotoSlab-Thin.ttf");
}
// @font-face {
//     font-family: "";
//     src: url("../fonts/.eot") format("eot"),
//     url("../fonts/.svg") format("svg"),
//     url("../fonts/.ttf") format("ttf"),
//     url("../fonts/.woff") format("woff"),
//     url("../fonts/.woff2") format("woff2");